html {
    padding: 0 250px;

}

body {
    font-family: 'Special Elite', cursive;
}
.button {
    background-color: white;
    border-radius: 2px;
    padding: 2px;
}
/*Header*/

nav div {
    display: flex;
    margin-top: 2rem;
}
nav div ul  {
    display: inline-flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 0;
   
}
nav div ul li a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

/*Hero*/
#hero {
    height: 350px;
    width: 917px;
    background: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-position: 0 -150px;
    background-size: cover;

}
#hero img {
    margin-top: 150px;
    margin-left: 0;
    height: 200px;
    width: auto;
}
/*Hello*/
#hello {
    background: url(../img/beans_icon.png);
    height: 200px;
    width: 917px;
    background-size: cover;
    background-position: 0 -300px;
}
#hello > div {
    width: 917px;
    position: absolute;
}
#hello h2 {
    font-family: 'Exo', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0;
}
#hello div {
    position: relative;
    width: 350px;
    left: 80px;
    top: 50px;

/*Flowers*/
}
#flowers {
    height: 240px;
    margin: 0;
    padding: 0;
    width: auto;

}
#flowers img {
    object-fit: cover;
    width: 917px;
    height: 240px;
}
/*Menu*/

#menu {
    background: url(../img/cake_icon.png);
    height: 500px;
    width: 917px;
    background-size: contain;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}
#menu p {
    margin: 1em;
    text-align: center;
    margin: 0;
}
#menu h2 {
    font-family: 'Exo', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
}
#menu h3 {
    font-family: 'Exo', sans-serif;
    font-size: .8rem;
    text-align: center;text-align: center;
    margin: .2em;
}
#menu img {
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#menu > div {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu .box {
    border: 1px solid;
    margin-bottom: 20px;
    text-align: justify;
}
/*bridge2*/
#bread  {
    height: 300px;
    margin: 0;
    padding: 0;
    width: auto;
}

#bread img {
    object-fit: cover;
    width: 917px;
    height: 240px;
}
#bridge2 {
    height: 240px;
    width: 917px;
    background: url("../img/bridge_2.jpg") ;
    background-repeat: no-repeat;
    background-position: 0 -20px;

}
#bridge2 img {
    margin-top: 150px;
    height: 200px;
    width: 917px;
}
/*Our Story*/

#story {
    display: block;
    margin-top: 5%;
    margin-right: auto;
    width: 917px;
    height: 500px;
}

.storyCont {
    width: 917px;
    float: left;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
    margin-left: 20%;
}

.storyCont h3 {
    margin-left: 10%;
    font-family: 'Exo', sans-serif;
    font-size: 1.8rem;
}

.storyCont div {
    width: 330px;
    margin: 0;
}
.storyCont p {
    width: 330px;
    margin: 0;
}

#story img {
    height: 150px;
    width: 200px;
    float: right;
    margin-right: 350px;
    margin-top: 150px;
}
/*Catering*/

#bridge3 {
    height: 240px;
    width: 917px;
    background: url("../img/bridge_3.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0 -20px;
    justify-content: space-evenly;
    position: relative;
}
#bridge3 > img {
    object-fit: cover;
    width: 917px;
    height: 240px;
}
#cater {
    display: flex;
    width: 917px;
    height: 400px;
}
.cater1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    height: 300px;
    margin-left: 20%;
}
.cater1 img {
    height: 150px;
    padding-right: 100px;
}
.cater2 {
    background-image: url("../img/pie_icon.png");
    background-position-x: 15%;
    background-size: 50%;
    background-repeat: no-repeat;
    justify-content: flex-start;
    margin-top: 50px;
}
.cater2 h3, .cater2 p, .cater2 button {
    margin-right: auto;
    margin-left: auto;
}
.cater2 h3 {
    font-family: 'Exo', sans-serif;
    font-size: 1.8rem;
}


/*Bridge4*/

#bridge4 {
    height: 240px;
    width: 917px;
    background: url("../img/bridge_4.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0 -120px;
    justify-content: space-evenly;
    position: relative;
}
#bridge4 > img {
    object-fit: cover;
    width: 917px;
    height: 240px;
}
/*Cakes*/

#cakes {
    display: inline-flex;
    width: 917px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.cakesCont {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.cakes1 {
    display: inline-flex;
    width: 224px;
    margin-left: auto;
    margin-right: auto;
}
.cakes2 {
    display: inline-block;
    width: 350px;
    padding-left: 20px;
}
.cakes1 img {
    height: 150px;
}
.cakesBg {
    position: relative;
}
.cakesBg img {
    width: 250px;
    position: absolute;
    left: 80%;
}
.cakes2 h3 {
    font-size: 1.8rem;
    font-family: 'Exo', sans-serif;
}

/*Footer*/

footer {
    width: 917px;
    height: 200px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.contact {
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    line-height: .6rem;
}
.contact > h4 {
    font-family: 'Exo', sans-serif;
    font-size: 1.8rem;
    margin: 10px 0 0 0;
}
.social {
    width: 20px;
    text-align: center;
}
.social h4 {
    text-align: center;
}
.social p {
    text-align: center;
    margin-right: 0;
}
.socialImg {
    display: block;
    text-align: center;
}
.today {
    display: block;
    width: 70px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
